<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ng-switch-case></app-diretiva-ng-switch-case>
<app-diretiva-ng-for></app-diretiva-ng-for>
<app-diretiva-ng-class></app-diretiva-ng-class>
<app-diretiva-ng-style></app-diretiva-ng-style>
<app-operador-elvis></app-operador-elvis>
<app-ng-content>
  <div class="titulo">Titulo Imbtivel</div>
  <div class="body">Conteudo do meu NGGG</div>
</app-ng-content>
<app-diretivas-customizadas></app-diretivas-customizadas>
<app-host-listener-host-binding></app-host-listener-host-binding>

